<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true">

  <targets>
    <target name="file" xsi:type="File"
        fileName="${basedir}/log/log-Uncate.log"
        archiveFileName="${basedir}/log/archive/log-Uncate.{#}.log"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />
    <target name="console" xsi:type="Console"
        encoding="iso-8859-2"
        error="true"
        detectConsoleAvailable="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>
